html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    min-height: 100%;
}

.quad {
    width: 50%;
    height: 100%;
    float: left;
}

.quad-middle {
    margin-left: 25%;
}

.line {
    height: 50%;
    width: 100%;
}

.equal,
.equal>div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex: 1 0 auto;
}

.axis text {
    font: 10px sans-serif;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

#visualization-5 {
    margin-left: 20px;
}

#visualization-4 {
    margin-left: 20px;
}

#visualization-3 {
    margin-left: 20px;
}

.chart {
    background: #fff;
}

p {
    font: 12px helvetica;
}

path:hover {
    opacity: 0.9;
}

.legend tr {
    border-bottom: 1px solid grey;
}

.legend tr:first-child {
    border-top: 1px solid grey;
}

.legend {
    margin-bottom: 76px;
    display: inline-block;
    border-collapse: collapse;
    border-spacing: 0px;
}

.legend td {
    padding: 4px 5px;
    vertical-align: bottom;
}

.legendFreq,
.legendPerc {
    align: right;
    width: 50px;
}